target_disk="/dev/sdb"
cache_disk="/dev/nvme0n1"
# 523744 = ~256 MiB
# 261872 = ~128 MiB
# 130936 =  ~64 MiB
#  65468 =  ~32 MiB
#  32734 =  ~16 MiB
#  16367 =   ~8 MiB
#cache_sizes=(16367 32734 65468 130936 261872 523744)
# change to percentages for workloads
#cache_sizes=(0.001 0.005 0.01 0.05 0.1)
cache_sizes=(0.001)
working_set_sizes_dir="/home/sylab/working_set_sizes"
#write_types=("writeback" "writethrough")
write_types=("writethrough")
algorithms=("lru")
#algorithms=("lru" "arc" "larc" "lfu" "lecar" "alecar"
#            "mlru" "marc" "mlarc" "mlfu" "mlecar" "malecar"
#            "mlru_lw" "marc_lw" "mlarc_lw" "mlfu_lw" "mlecar_lw" "malecar_lw")
workload_dir="/home/sylab/FIU"
workloads=("casa.all.blkparse")
#workloads=("casa.all.blkparse" "cheetah.all.blkparse" "homes.all.blkparse" "ikki.all.blkparse"
#           "madmax.all.blkparse" "online.all.blkparse" "topgun.all.blkparse" "webmail.all.blkparse"
#           "webmail+online.all.blkparse" "webresearch.all.blkparse" "webusers.all.blkparse")
dmcache_extras="0"
results_dir="/home/sylab/replay_results"
