target_disk="/dev/sdc"
cache_disk="/dev/sda"
# 523744 = ~256 MiB
# 261872 = ~128 MiB
# 130936 =  ~64 MiB
#  65468 =  ~32 MiB
#  32734 =  ~16 MiB
#  16367 =   ~8 MiB
cache_sizes=(16367 32734 65468 130936 261872 523744)
write_types=("writeback" "writethrough")
#algorithms=("lru" "arc" "larc" "mlru" "marc" "mlarc" "mlru_lw" "marc_lw" "mlarc_lw")
algorithms=("lecar")
workload_dir="/home/sylab/"
workloads=("fileserver.f.2g" "webserver.f.2g")
dmcache_extras="0"
results_dir="/home/sylab/dmcache_results"
